

#container{

	width: 760px;
	height: auto;
	margin: auto;
}


#menu{
	width: 760px;
	height: 50px;
	
}

header{
	width: 760px;
	height: 150px;
	background: url("../Florin/banner-curs.png")no-repeat;
	background-size: 100% 100%;
	position: relative;
}

#form input:hover{color: orange; font-weight: bold;}

header div{
	width: 200px;
	position: absolute;
	bottom: 2px;
	right: 10px;

}

#content
{
float: left;
width: 480px;
height: auto;
min-height: 200px;
}

#sidebar
{
	float: right;
	width: 280px;
	height: auto;
}

footer{
	background-color: #CCEBFF;
	height: 66px;
	width: 100%;
	color: Black;
	clear: both;
}

#logo
{
	position: fixed;
	bottom: 300px;

}